body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("wallpapermemory.jpg");
    background-repeat:no-repeat;
    background-size:cover;

}
.container {
    text-align: center;
    width: 80%;
}

.title_text{
    color: white;
    padding-bottom: 10px;
    filter: drop-shadow(0px 0px 6px #000000);
}

h1, h2 {
    margin: 0;
    padding: 0;
}
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.board {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 10px;
    margin-top: 20px;
    width: 60%;


}

.container_board{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.card.closed {
    background-color: var(--color-card);
}

.card.open {
    background-color: var(--color-open);
}

.card.found {
    background-color: var(--color-found);
}

.info_board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 20px;
}


/* ----------dropdown---------- */

.dropdown_karakter   {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.dropdown_afmetingboard{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.dorpdown_kleuren_platen{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-left: 15px;
}

.scorekeeping{
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px darkgray;
    margin: 5px;
    border-radius: 15px;
    background-color:lightblue;
}

.game_info{
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px darkgray;
    margin: 5px;
    border-radius: 15px;
    background-color:lightblue;
}

.ranking{
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px darkgray;
    margin: 5px;
    width: 250px;
    border-radius: 15px;
    background-color:lightblue;
}