@font-face{
    font-family: 'Orbitron';
    src: url("assets/fonts/Orbitron-Black.ttf")
}

body {
    font-family: Orbitron;
    display: inline;
    margin: auto;
    overflow: visible;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.card.closed {
    background-color: var(--color-card);
}

.card.open {
    background-color: var(--color-open);
}

.card.found {
    background-color: var(--color-found);
}

/* Design goes here */

.layout-div{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 100%;
}

/* Top banner (score & timing) */

.score-div{
    grid-column: 1/5;
    grid-row: 1;
    margin: auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.time-div{
    grid-column: 5/10;
    grid-row: 1;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

/* board */
.board-div {
    grid-column: 1/10;
    grid-row: 2;
    max-width: 100%;
    margin:auto;
}

/* Bottom banner (Gamename & start button) */

.title-text{
    color: white;
    filter: drop-shadow(0px 0px 6px #000000);
    max-width: 100%;
    grid-column: 4/6;
    grid-row: 3;
    text-align: center;
}

.start-button-div{
    grid-column: 6/7;
    grid-row: 3;
    width: 100%;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

/* Dropdowns*/
.dropdown_afmetingboard{
    grid-column: 4;
    grid-row: 4;
}

.dropdown_karakter{
    grid-column: 5;
    grid-row: 4;
}

.dropdown_kleuren_platen{
    grid-column: 6;
    grid-row: 4;
}

.game_info{
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px darkgray;
    margin: 5px;
    border-radius: 15px;
    background-color:lightblue;
    grid-column: 3/7;
    grid-row: 5;
}
.ranking{
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px darkgray;
    margin: 5px;
    border-radius: 15px;
    background-color:lightblue;
    grid-column: 3/7;
    grid-row: 6;
}