<app-navbar></app-navbar>
<div class="layoutdiv">
  <div class="filter">
    <input [(ngModel)]="usernameFilter" placeholder="Filter by username">
    <input [(ngModel)]="emailFilter" placeholder="Filter by email">
  </div>
  <div class="list">
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of (playerData | filter:usernameFilter:'username' | filter:emailFilter:'email')">
          <td>{{ player.username }}</td>
          <td class="emailtd">{{ player.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
